.img{
  width: 50% ;
  height: 300px ;
  display: block;
margin-left: auto;
margin-right: auto;


}

.d4{
margin: 10px;
padding: 10px ;
}

.cardImage{
width: 285px;
height: 200px ;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
height: 150px;
}
.imgmargin{
/*
margin-right: 2000px;
margin-bottom: 150px;*/
position: absolute;
top: 8px;
left: 16px;
}
